In [ ]:
introduction to python programming:

In [ ]:
Understanding the variable in python

In [5]:
x=3
y=2

In [6]:
z = x+y
print(z)

5

In [7]:
rule no 1: No name spaces while declaring the variable name

SyntaxError: invalid syntax (1197728394.py, line 1)

In [8]:
firstname="raghu"

In [9]:
print(firstname)

raghu

In [ ]:
Rule No 2: A variabe name should not start with a number

In [10]:
1name='james'

SyntaxError: invalid decimal literal (1580340236.py, line 1)

In [14]:
name1='james'

In [15]:
print(name1)

james

In [16]:
Rule no 2: A variable bame should not start with a number**

SyntaxError: invalid syntax (4105391284.py, line 1)

In [17]:
Rule no3: A variable name should not contain any special charcter @$%*

SyntaxError: invalid syntax (2029915407.py, line 1)

In [43]:
test='raghu'

In [44]:
print(test)

raghu

In [45]:
#Intraduction to data types in phyton

In [21]:
1. strings-------------str
2.Numbers-----------  Integerrs------int and Decimal--------float(0.1.0.2)
3.List---------- list
4. Tuples---------tuple
5. dictionaries----------------dict

SyntaxError: invalid decimal literal (3259396720.py, line 2)

In [22]:
classfication of data types

two types
1. mutable datatypes--------------which we can edit and alter------flexible in nature
2. immutable datatypes-------------which we cannot be able to edit and alter----fixed in nature

SyntaxError: invalid syntax (878258792.py, line 1)

In [ ]:
Intraduction to string data types in phyton :
    
    defination : A string is a series of charvetrs declared in quotes.
        classfication: is is classfied as an immutable datatype
how to create a string-----------single quote or double quote

In [23]:
name='raghu' #single quote
print(name)

raghu

In [24]:
name1="reddyraghu"  #double quote
print(name1)

reddyraghu

In [48]:
#Intraduction to string methods:
 type(name)

IndentationError: unexpected indent (527153235.py, line 2)

In [35]:
fullname="raghunadhareddy"
print(fullname)

raghunadhareddy

In [51]:
print(fullname,title())

NameError: name 'title' is not defined

In [39]:
fullname="raghunadhareddy"
up=fullname,upper())

NameError: name 'upper' is not defined

In [40]:
print(fullname,lower())

NameError: name 'lower' is not defined

In [41]:
#commenting the code

# is used for commenting the code.