In [ ]:
Intraduction to list datatype

In [ ]:
defination: Alist is a collection of items declared in a particular order
    classfication: it is classfied as an mutable datatype
        
        how to define /declare the list.............?[]

In [4]:
Students=['raghu','nivedhitha']

In [5]:
print(Students)

['raghu', 'nivedhitha']

In [7]:
type(Students)

list

In [ ]:
intraduction to indexing:0,1,2,3,3....................

In [ ]:
#req i want to get the name is niveditha on the output........?

In [15]:
print(Students[1])
print(Students[1].title())

nivedhitha
Nivedhitha

In [19]:
print(Students[1].upper()\nStudents[2].upper())

SyntaxError: unexpected character after line continuation character (1985808280.py, line 1)

In [ ]:
1. how to add new elements to the list
2.how to modify the elements in the list
3.how to delete the elements in the list

In [ ]:
# i want to add prany to the above list

In [20]:
Students.append('supraja')

In [21]:
print(Students)

['raghu', 'nivedhitha', 'supraja']

In [ ]:
# add monoj to list

In [22]:
Students.append('Eesha')

In [32]:
print(Students)

['raghu', 'nivedhitha', 'papa', 'supraja', 'Eesha']

In [ ]:
# want to add papa to 2nd index

In [31]:
Students.insert(2,'papa')

In [ ]:
# interview question

In [ ]:
#what is difference between append and insert in the list

In [ ]:
# how to modify the element in the list

In [ ]:
#req i want to modify praveen name to mummy

In [52]:
Students[3]='papa'

IndexError: list assignment index out of range

In [42]:
print(Students)

['raghu', 'mummy', 'papa', 'supraja', 'Eesha']

In [43]:
print(Students)

['raghu', 'mummy', 'papa', 'supraja', 'Eesha']

In [ ]:
1.Temporary deleting-----------------------pop
note : by default pop will be deleteing the item frm last, if needed we can specify the index as well, pop will be storing the deleted items in the variabled that has been assigned to it

In [44]:
x=Students.pop()

In [47]:
print(Students)

['Eesha', 'mummy', 'papa', 'supraja']

In [48]:
print(x)

Eesha

In [ ]:
#req: delete to john

In [50]:
y=Students.pop(2)

In [53]:
print(Students)

['Eesha', 'mummy', 'supraja']

In [54]:
print(y)

papa

In [ ]:
# permanent delete

In [56]:
del Students[0]

In [57]:
print(Students)

['mummy', 'supraja']

In [ ]:
what is the diff btw pop and delete methods in a list.............

In [ ]:
#Day5

In [ ]:
#rganijing list data type

In [58]:
cars=['suzuki','bmw','maruthi','audi','benz','kia']

In [60]:
print(cars)

['suzuki', 'bmw', 'maruthi', 'audi', 'benz', 'kia']

In [61]:
type(cars)

list

In [ ]:
# i want the list in alphabitical orders---z

In [ ]:
two aproches
1. temp aproch---------------sorted---we will be having orginal order of the list declared
2.permenant aproch------------sort----------changes are applied permantelly

In [64]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [66]:
cars.sort()

In [69]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
#qq what is difference between sort and sorted in list data type

In [72]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
# want reverse the order

In [73]:
cars.reverse()

In [74]:
print(cars)

['suzuki', 'maruthi', 'kia', 'bmw', 'benz', 'audi']

In [ ]:
# count of elements in the list

In [75]:
len(cars)

6

In [ ]:
# Intraduction to Slicing:

In [81]:
students=['king','james','raghu','arun','nasrien','saba','teja']

In [82]:
print(students)

['king', 'james', 'raghu', 'arun', 'nasrien', 'saba', 'teja']

In [ ]:
# genral syntax of sliceing

In [ ]:
[startvalue:stopvalue:sitecount]

In [ ]:
Note: Always last value is exclusive, to include the last value we have to increment the index by +1

In [ ]:
#req : I want to include king and James

In [86]:
print(students[0:2])

['king', 'james']

In [87]:
print(students[2:4])

['raghu', 'arun']

In [89]:
print(students[2:6:2])

['raghu', 'nasrien']

In [ ]:
#test123

In [ ]:
Implimentation of the for Loop

In [ ]:
#genra; syntax of the for loop

for tempvar inmainvar:
    Print(tempvar)

In [1]:
Students6=['ananya','nasrin','visesha','zeeshan','kumar','aravind']

In [2]:
print(Students6)

['ananya', 'nasrin', 'visesha', 'zeeshan', 'kumar', 'aravind']

In [3]:
type(Students6)

list

In [6]:
print(f"keep up the good work,{Students6[0].title()}")

keep up the good work,Ananya

In [7]:
print(f"keep up the good work,{Students6[1].title()}")

keep up the good work,Nasrin

In [9]:
for x in Students6:
    print(f"keep up the good work,{x}")

keep up the good work,ananya
keep up the good work,nasrin
keep up the good work,visesha
keep up the good work,zeeshan
keep up the good work,kumar
keep up the good work,aravind

In [ ]:
for tempvar in mainvar:====>x
    print(tempvar)

In [11]:
for a in Students6:
    print(f"keep up the good work,{a}")

keep up the good work,ananya
keep up the good work,nasrin
keep up the good work,visesha
keep up the good work,zeeshan
keep up the good work,kumar
keep up the good work,aravind

In [12]:
for a in Students6:
    print(f"keep up the good work,{a}")
    print(f" do submit your github urls to my inbox,{a}")

keep up the good work,ananya
 do submit your github urls to my inbox,ananya
keep up the good work,nasrin
 do submit your github urls to my inbox,nasrin
keep up the good work,visesha
 do submit your github urls to my inbox,visesha
keep up the good work,zeeshan
 do submit your github urls to my inbox,zeeshan
keep up the good work,kumar
 do submit your github urls to my inbox,kumar
keep up the good work,aravind
 do submit your github urls to my inbox,aravind

In [ ]:
#enhancement of the code.....!

In [24]:
for a in Students6:#writing in the loop
    print(f"keep up the good work,{a}")
    print(f" do submit your github urls to my inbox,{a}")

keep up the good work,ananya
 do submit your github urls to my inbox,ananya
keep up the good work,nasrin
 do submit your github urls to my inbox,nasrin
keep up the good work,visesha
 do submit your github urls to my inbox,visesha
keep up the good work,zeeshan
 do submit your github urls to my inbox,zeeshan
keep up the good work,kumar
 do submit your github urls to my inbox,kumar
keep up the good work,aravind
 do submit your github urls to my inbox,aravind

In [23]:
for a in Students6:#writing in the loop
     print(f"keep up the good work,{a}")
    print(f" do submit your github urls to my inbox,{a}\n")# indentation error## What can go in a Snippet?

Snippets support formatting and can contain things like:

  1. A list of things
  2. Hyperlinks such as: https://www.sapling.ai
  3.  **Bold text** , _underlined text_ , or _italicized text_


When inserting a snippet into a page that does not support rich text markup, the snippet will revert back to plain text.## What can go in a Snippet?

Snippets support formatting and can contain things like:

  1. A list of things
  2. Hyperlinks such as: https://www.sapling.ai
  3.  **Bold text** , _underlined text_ , or _italicized text_


When inserting a snippet into a page that does not support rich text markup, the snippet will revert back to plain text.

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [25]:
for a in Students6:#writing in the loop
    print(f"keep up the good work,{a}")
    print(f" do submit your github urls to my inbox,{a}")

keep up the good work,ananya
 do submit your github urls to my inbox,ananya
keep up the good work,nasrin
 do submit your github urls to my inbox,nasrin
keep up the good work,visesha
 do submit your github urls to my inbox,visesha
keep up the good work,zeeshan
 do submit your github urls to my inbox,zeeshan
keep up the good work,kumar
 do submit your github urls to my inbox,kumar
keep up the good work,aravind
 do submit your github urls to my inbox,aravind

In [ ]:
#Intraduction to tuple datatype

In [ ]:
#Defination: an immutable list called a tuple
classification: it is classified as an immutable datatype
    
    how to define the tuple--------?()

In [30]:
Students7=('raghu','sada','kiran','hameed')#-immuntiable list--will not aable to change the data
#when ever we need data should be freesed we are going for this data type

In [31]:
type(Students7)

tuple

In [38]:
Students7[0]='raghu1'

TypeError: 'tuple' object does not support item assignment

In [39]:
print(Students7[1].title())

Sada

In [40]:
for a in Students7:
    print(a)

raghu
sada
kiran
hameed

In [41]:
dimensiobs=(2002,20002)
print(dimensiobs)

(2002, 20002)

In [42]:
type(dimensiobs)

tuple